body {
    background-color: #FFFFee;
}

.jumbotron {
    background-color: #ffffee;
    border-color: #000000;

}

.display-3 {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}

.lead {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    font-size: 1.5rem;
}

hr {
    size="30";
    color: #000000;
}
